@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:260px;
    background-color: rgba(249, 249, 249, 0.7);
    transition: width 0.3s ease-in-out;
}

.sidebar.open{
    width: 100px;
}

.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.sidebar .nav-links {
    /*background: red;*/
    height: 100%;
    padding-top: 20px;
    padding-left:0;

}


.sidebar .nav-links li{
    list-style: none;
    position: relative;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover{
    background: #e9e9e9;
}

.sidebar .nav-links li .icon-link{
    opacity: 1;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i{
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: black;
}

.sidebar.open .nav-links li i.bx.bx-chevron-up.dropdown-icon {
    display:none;
}

.sidebar .nav-links li a{
    text-decoration: none;
    display:flex;
    align-items: center;
}

.sidebar .nav-links li a .link-name{
    font-size: 16px;
    font-weight: 400;
    color: black;
    opacity: 1;
}


.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 6px 50px;
    margin-top: -10px;
    background-color: #e7e7e7;
    display:none;
    line-height: 30px;
    opacity: 1;
}

.sidebar img{
    height: 60px;
    padding-top: 10px;
    transition: height 0.3s ease-in-out;
}

.sidebar .nav-links li .icon-link .bx.bx-chevron-down.dropdown-icon{
    opacity: 1;
}

.sidebar.open img{
    height: 40px;
    margin-bottom: 20px;
}

.sidebar.open .logo-details{
    height: 20px;
    margin-bottom: 20px;
}

.sidebar.open .logo-details .logo-name{
    height: 10px;
    padding-top: 0;
}

.sidebar.open .nav-links li .icon-link .bx.bx-chevron-down.dropdown-icon,
.sidebar.open .nav-links li .sub-menu,
.sidebar.open .nav-links li a .link-name{
    opacity: 0;
    display:none;
}

.sidebar.open .nav-links li .icon-link{
    margin-left: 25px;
}

.sidebar.open .nav-links li a{
    display:flex;
    align-content: center;
    justify-content: center;
}

.sidebar.open .btn-outline-success{
    width:100%;
}

.sidebar.open .logout span{
    display:none;
}

.sidebar.open .nav-links li i{
    font-size:20px;
}

.sidebar.open .nav-links li .logout {
    width:50px;
    margin-left: 30px;
}

.sidebar.open .nav-links li .sub-menu{
    position: absolute;
    top: 0;
    right: -200px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    pointer-events: none;
    opacity: 100;
    z-index: 1000;
}

.sidebar.open .nav-links li:hover .sub-menu {
    display: none;
}

.sidebar .nav-links li .sub-menu a{
    color: black;
    font-size: 15px;
    padding: 0;
    white-space: nowrap;
}

.sidebar .nav-links li .logout{
    position: fixed;
    bottom: 0;
    height: 50px;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-success{
    --bs-btn-border-color: #000;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: #F26F21;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
}