/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 1, 2023, 12:53:16 AM
    Author     : ADMIN
*/

input[type="submit"] {
    width: 30%;
    height: 40px;
    border: 1px solid;
    background: #F26F21;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input.assign-student{
    width: 50%;
    height: 40px;
    border: 1px solid;
    background: #F26F21;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #F26F21;
    transition: .5s;
}

.table .thead th {
    background-color: #F26F21;
    border-color: #ffffff;
    color:white;
/*    position: sticky;
    bottom:0;
    z-index: 999;*/
}